.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: rgba(0,0,0, 0.6);
    
    backdrop-filter: blur(4px);

    height: 100%;
}

.modal {
 max-width: 100%;
 width: 100%;

 height: min-content;

 border: 1px solid #ccc;
 border-radius: 4px;

 outline: none !important;

 @apply bg-brand-background rounded-[5px] p-6 relative
}


@media (min-width: 1000px) {
    .overlay {
        align-items: center;

        height: 100%;
    }

    .modal {
        width: 40%;
        min-width: 470px;

        padding: 3rem 4rem;

        max-height: min-content;
        height: min-content;
    }
}